{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}

{% include 'program/_navbar.html.twig' %}

    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <ul>
            <li> {{program.title}} </li>
            <li> {{program.synopsis}} </li>
            <li> {{program.poster}} </li>
        </ul>
        <button class="btn btn-dark"><a href="/program/show/{{ program.id }}">En savoir plus</a></button>

    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}